@using Microsoft.AspNet.Identity
@model Helpdesk_V0._1.Models.IncidentModel
@{
    Layout = null;
}
@{
    var _readonly = new { @readonly = "readonly" };
    if (User.IsInRole("admin"))
    {
        _readonly = null;
    }

}


<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#sum" class="table_Ticket" data-info="sum" aria-controls="samenvattingtab" role="tab" data-toggle="tab">Samenvatting</a></li>
    <li role="presentation"><a href="#qa" class="table_Ticket" data-info="qa" aria-controls="q&atab" role="tab" data-toggle="tab">Vraag en oplossing</a></li>
    <li role="presentation"><a href="#notes" class="table_Ticket" data-info="notes" aria-controls="notitiestab" role="tab" data-toggle="tab">Notities</a></li>
    <li role="presentation"><a href="#atatchments" class="table_Ticket" data-info="atatchments" aria-controls="bijlagestab" role="tab" data-toggle="tab">Bijlages</a></li>
</ul>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="samenvattingtab">
        <div class="row">
            <div class="col-md-7 col-md-offset-2 col-xs-12">
                <div id="ticketSum"></div>
            </div>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="q&atab">
        <div class="row">
            <div class="col-md-7 col-md-offset-2 col-xs-12">
                <div id="ticketQA"></div>
            </div>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="notitiestab">
        <div class="row">
            <div class="col-md-7 col-md-offset-2 col-xs-12">
                <div id="ticketNotes"></div>
            </div>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="bijlagestab">
        <div class="row">
            <div class="col-md-7 col-md-offset-2 col-xs-12">
                <div id="ticketAttachments"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.table_Ticket').on('click', function () {
            
            var info = $(this).data('info');
            var url = "";
            switch (info) {
                case 'sum': alert(info);
                    url = '/Home/_TicketSum/' + '@Model.IncidentNumber';//Url.Action("_TicketSum", "Home", new { id = Model.IncidentNumber });
                    alert(url);
                    break;
                case 'qa': //$('#ticketQA').load(Url.Action("", new { id = Model.IncidentNumber }));
                    break;
                case 'notes': alert(info);
                    url = '/Home/_TicketNotes/' + '@Model.IncidentNumber';//Url.Action("_TicketNotes", "Home", new { id = Model.IncidentNumber });
                    alert(url);
                    break;
                case 'atatchments': //$('#ticketAttachments').load(Url.Action("", new { id = Model.IncidentNumber }));
                    break;
                default: break;
            };

            alert(info + ': ' + url);
            $('#ticketSum').load(url);
        })
    })

</script>